In [20]:
import glob
import os
import pandas as pd
fs = glob.glob("chinese_news_test/*/*.[tT][xX][tT]")
cats = []
contents = []
for fname in fs:
    fn = os.path.split(fname)[-1]
    with open(fname, "r", encoding="utf-8") as f:
        content = f.read()
        contents.append(content)
    dn = os.path.split(fname)[0]
    dn = os.path.split(dn)[-1]
    cats.append(dn)
test_df = pd.DataFrame({
    "content":contents,
    "ans":cats
})
test_df

                                               content ans
0     \n各國記者眼中的羽毛球世錦賽\n \n\n-----------------------...  體育
1    最優秀選手無緣亞運會健美賽\n \n　 \n    健美在亞洲運動會上是“新生兒”——韓國釜...  體育
2    帆 板 運 動 簡 介（二）\n\n　　我國在79年由國家體委青島航海運動學校成功試製出第一...  體育
3    男子健美初登亞運會 中國猛男直指前三\n \n　 \n    在即將開幕的釜山亞運會上，男子...  體育
4    不解之謎\n\n　　第2屆奧運會在法國巴黎舉行。這次奧運會的馬拉松比賽的赳點和終點均設在當作...  體育
..                                                 ...  ..
96   日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟
97   日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟
98   日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟
99   日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟
100  日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟

[101 rows x 2 columns]

In [21]:
fs = glob.glob("chinese_news_trans/*/*.[tT][xX][tT]")
cats = []
contents = []
for fname in fs:
    fn = os.path.split(fname)[-1]
    with open(fname, "r", encoding="utf-8") as f:
        content = f.read()
        contents.append(content)
    dn = os.path.split(fname)[0]
    dn = os.path.split(dn)[-1]
    cats.append(dn)
train_df = pd.DataFrame({
    "content":contents,
    "ans":cats
})
train_df

                                                content ans
0                國家體委和全國體總電賀三國和平登山隊征服珠峰\n新華社北京５月７日電國...  體育
1                （專發《天津日報》）三國和平登山隊覆信感謝天津\n少先隊員\n    ...  體育
2                王志良透露亞運會集資部活動經費支出情況\n新華社北京５月９日電（記者李...  體育
3                通訊：聶衛平從嚴治軍\n新華社杭州５月９日電通訊：聶衛平從嚴治軍\n ...  體育
4                西藏自治區政府宴請和平登山隊\n新華社拉薩５月２１日電（記者王永治）西...  體育
...                                                 ...  ..
2632             緬批准成立邊界貿易商會\n新華社仰光５月１４日電據此間官方報紙今天報道...  經濟
2633  日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟
2634  日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟
2635  日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟
2636  日月光華 -- Economics精華區文章閱讀\n--------------------...  經濟

[2637 rows x 2 columns]

In [22]:
# unique
labels = train_df["ans"].unique()
trans = {label:i for i, label in enumerate(labels)}
reverse_trans = {i:label for i, label in enumerate(labels)}
trans

{'體育': 0,
 '教育': 1,
 '藝術': 2,
 '環境': 3,
 '醫藥': 4,
 '政治': 5,
 '軍事': 6,
 '交通': 7,
 '計算機': 8,
 '經濟': 9}

In [25]:
# if MAC（mac才需要）
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [26]:
from urllib.request import urlretrieve
url = "https://github.com/fxsjy/jieba/raw/master/extra_dict/dict.txt.big"
urlretrieve(url, "dict.txt.big")
import jieba
jieba.set_dictionary("dict.txt.big")

In [27]:
def newscut(s):
    s = s.replace("\r", "").replace("\n", "")
    return " ".join(jieba.cut(s))

In [28]:
x_train = train_df["content"].apply(newscut)
x_test = test_df["content"].apply(newscut)
x_test

Building prefix dict from /Users/geoff/PycharmProjects/MLDemo/dict.txt.big ...
Dumping model to file cache /var/folders/54/1zgw09v52knfq94ck5wlrbdm0000gn/T/jieba.u7b0bebbb3f35c2bd0250dfe97a978289.cache
Loading model cost 2.208 seconds.
Prefix dict has been built succesfully.

0        各國 記者 眼中 的 羽毛球 世錦賽   - - - - - - - - - - - -...
1      最 優秀 選手 無緣 亞運會 健美 賽   　           健美 在 亞洲 運動會 ...
2      帆   板   運   動   簡   介 （ 二 ） 　 　 我國 在 79 年 由 國家...
3      男子 健美 初登 亞運會   中國 猛男 直指 前 三   　           在 即將...
4      不解之謎 　 　 第 2 屆 奧運會 在 法國巴黎 舉行 。 這次 奧運會 的 馬拉松 比賽...
                             ...
96     日月 光華   - -   Economics 精華區 文章 閱讀 - - - - - - ...
97     日月 光華   - -   Economics 精華區 文章 閱讀 - - - - - - ...
98     日月 光華   - -   Economics 精華區 文章 閱讀 - - - - - - ...
99     日月 光華   - -   Economics 精華區 文章 閱讀 - - - - - - ...
100    日月 光華   - -   Economics 精華區 文章 閱讀 - - - - - - ...
Name: content, Length: 101, dtype: object

In [29]:
y_train = train_df["ans"].replace(trans)
y_test = test_df["ans"].replace(trans)
y_test

0      0
1      0
2      0
3      0
4      0
      ..
96     9
97     9
98     9
99     9
100    9
Name: ans, Length: 101, dtype: int64

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer()
x_train_vec = vec.fit_transform(x_train)
x_test_vec = vec.transform(x_test)
x_test_vec

<101x74744 sparse matrix of type '<class 'numpy.int64'>'
	with 27219 stored elements in Compressed Sparse Row format>

In [31]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(x_train_vec, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [32]:
from sklearn.metrics import accuracy_score
pre = clf.predict(x_test_vec)
accuracy_score(pre, y_test)

1.0

In [33]:
n = input("輸入新聞:")
n = newscut(n)
n = vec.transform([n])
pi = reverse_trans[clf.predict(n)[0]]
print("*" * 30)
print("這個新聞應該是:", pi)
print("*" * 30)
proba = clf.predict_proba(n)[0]
proba = sorted(list(zip(trans, proba)),
               reverse=True,
               key=lambda x:x[1])
for l, p in proba:
    print("類別:", l, "機率:", p)

輸入新聞:台灣
******************************
這個新聞應該是: 政治
******************************
類別: 政治 機率: 0.18733409177095192
類別: 體育 機率: 0.16647705726204023
類別: 經濟 機率: 0.11376564277588165
類別: 藝術 機率: 0.08797876374668182
類別: 軍事 機率: 0.08722032612817597
類別: 教育 機率: 0.07811907470610543
類別: 醫藥 機率: 0.07356844899507016
類別: 交通 機率: 0.06977626090254077
類別: 環境 機率: 0.06901782328403487
類別: 計算機 機率: 0.06674251042851723

In [34]:
# zip([1, 2, 3], [4, 5, 6], [7, 8, 9])
for i, j, k in zip([1, 2, 3], [4, 5, 6], [7, 8, 9]):
    print(i, j, k)

1 4 7
2 5 8
3 6 9

In [35]:
sorted([1, 4, 3], reverse=True)

[4, 3, 1]

In [36]:
#def pick(x):
#    return x[1]
sorted([("xxx", 1), ("ooo", 4), ("aaaa", 3)], 
       reverse=True,
       key=lambda x:x[1])

[('ooo', 4), ('aaaa', 3), ('xxx', 1)]